#formBox {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
}

#signInButton {
    -fx-background-color: #66bb6a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#signInButton:hover {
    -fx-background-color: #81c784;
}
